Adam Di Carlo <a.p.dicarlo@gmail.com> <adicarlo@users.sourceforge.net>
Cedric Pronzato <mimilowns@gmail.com> <mimil@users.sourceforge.net>
Gábor Kövesdán <gabor.kovesdan@gmail.com> <gabor@kovesdan.org>
Keith Fahlgren <abdelazer@gmail.com> <abdelazer@users.sourceforge.net>
Martijn van Beers <mail_dev@martijn.at> <lotr@users.sourceforge.net>
Michael[tm] Smith <mike@w3.org> <xmldoc@users.sourceforge.net>
mzjn <mzjnse@gmail.com> <mj@johanneberg.com>
Steve Ball <Steve.Ball@explain.com.au> <balls@users.sourceforge.net>
