# N.B. The tokens GH_TOKEN and GITHUBTOKEN are set in the Travis setup panel
# not encrypted into this file.

language: java

jdk:
- openjdk8

branches:
  only:
  - master
  - travis
  - "/^release.*/"
  - "/^snapshot.*/"
  - "/^ndw-test.*/"

env:
  global:
  - CLASSPATH=/usr/share/java/xalan-j2.jar:/usr/share/java/xercesImpl.jar:/usr/share/java/xml-resolver.jar:$(pwd)/.travis

install:
- sudo apt-get update -q
- sudo apt-get install xsltproc
- sudo apt-get install libxml-xpath-perl
- sudo apt-get install libxml2-utils
- sudo apt-get install libsaxon-java libxml-commons-resolver1.1-java libsaxon-java libxerces2-java
- sudo apt-get install trang
- sudo apt-get install imagemagick
- sudo apt-get install dblatex
- cp .travis/xmlc ~/.xmlc

script:
- make
- make check
- make dist
- export VERSION=$(make version)

after_success:
- |
  if [ "$TRAVIS_REPO_SLUG" = "docbook/xslt10-stylesheets" -a \
       "$TRAVIS_PULL_REQUEST" = "false" ]; then
    export GH_TOKEN
    .travis/publish-release.sh
  fi

notifications:
  email:
    on_success: change
    on_failure: change
  irc:
    channels:
    - chat.freenode.net#docbook

deploy:
  provider: releases
  api_key:
    secure: f4w3jrlDESAlhSZIGzBLMbL5OVdQu+zG1SPmXHYN5GUacrV+WnxuhiuVsbkxKMasltIGVijeWWBnVMD8k8HF3YgWQad80TLgBTpUnWeQK5mrJ4SkdpVryjeS31ZU7sk7DaT4AdyaTvgunINTNO2XH2mp1J6Ou20f9z3up+7uy1PLQHb9WU4OojqzASmcH48dklDX4bjDejc7GgXV3EKydZsx7fCEBp6KpDZ+dkYheB1byBAEJ3DXpY3gTU0yt6oS8g8PXSmoTtqY6eWCv0UffWLGphqHAH/VEsZmQhlP+y7H8QFKXiPxFW6IsjigeJ4lBSpJ5oDoJVY5v1XhR7Oe8IHMVprvGl3OQbOO1tDp93fYKGqloF+p5V7AYY89Fg7JmWVTduLInShFRhXjt2TzjNdbo0VHVpKRnr01zDHWuOXcGgsMLO/K1jdyMWnYFoJd5OEhEMOqA7Q8hpi8YGmR3hZTanCiDGkpMpKqQG7quGSqidJBjC/wdo8mqNl2wNy7VyqVCOYUwnB9s5s6JjWykOEa5TX/oQ9kbWNLUf18Z9sfTkQwAJhuE1CmVbk6gosmo3ZlqBpLiuSYVLZC98fgRwv6p22Vy8SpH7Q6tVaTG3UoVaX+DggJYUXADWh7/eDvGYXw0OCE78SSktry/wfENUlKqnLEbzvcQAgqnl3sUro=
  file:
  - dist/docbook-xsl-$VERSION.zip
  - dist/docbook-xsl-nons-$VERSION.zip
  - dist/docbook-xsl-doc-$VERSION.zip
  skip_cleanup: true
  on:
    tags: true
    all_branches: true
