body {
    margin: 0;
    padding: 0;
}

p, ul, ol, li {
    font: 10pt Arial, geneva, helvetica;
}

h1 {
    font: bold 14pt Arial, Helvetica, geneva;
}

h2 {
    font: bold 12pt Arial, Helvetica, geneva;
}

#header {
    background: white url(../images/gov-header-bg.gif) repeat-x;
    position: fixed;
    width: 100%;
    height: 80px;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    border-bottom: 2px solid #cccccc;
    z-index: 2000;
}

#leftnavigation {
/* background-color:#91e7b3;*/
    overflow: auto;
    position: fixed;
    height: auto;
    top: 80px;
    bottom: 0px;
    left: 0;
    width: 230px;
    margin: 0px 0px 0px 10px;
    overflow: auto;
}

#content {
    position: relative;
    top: 80px;
    left: auto;
    right: auto;
    bottom: 20px;
    margin: 0px 0px 0px 240px;
    width: auto;
    height: inherit;
    padding-left: 5px;
    padding-right: 12px;
    color: #000000;
    border-left: 2px solid #cccccc; /*overflow :scroll;*/
    background-image: url(../images/back.png);
    background-repeat: repeat;
    z-index: 1000;
}

#content h1, #content h2 {
    color: #cc0000;
}

.navfooter {
    bottom: 2%;
    content: attr;
}
 