body     {
           margin-left: 3pc;
         }

h1       {
           padding-top: 0in;
           color: #523184;
         }

h2       {
           color: #523184;
         }

h3       {
           color: #523184;
         }

h4       {
           color: #523184;
         }

h5       {
           color: #523184;
         }

div.section h1.title {
           padding-top: 0in;
           color: #523184;
         }

div.article h1.title { 
           padding-top: 0.75in;
           color: #523184;
         }
