.slidesinfo           { text-align: center }
.slidesinfo h1.title  { color: blue;
                        font-family: Arial;
                        font-weight: bold;
                      }
.slidesinfo h1.author { color: green;
                      }

.section   h1.title   { text-align: center;
                        color: red;
                        font-family: Arial;
                      }
.foil                 { font-family: sans-serif;
                        font-size: 14pt;
                        font-weight: bold;
                      }
.foil      h1.title   { text-align: center;
                        color: blue;
                        font-family: Arial;
			padding-top: 0pt;
			margin-top: 0pt;
                      }
.foil      h2.subtitle   { text-align: center;
                        color: blue;
                        font-family: Arial;
			padding-top: 0pt;
			margin-top: 0pt;
                      }

.mediaobject          { text-align: center;
                      }

/* ====================================================================== */

span.navheader        { font-family: sans-serif;
                        font-size: 10pt;
                        font-weight: bold;
                        color: black;
                      }

span.navfooter        { font-family: sans-serif;
                        font-size: 8pt;
                      }

/* ====================================================================== */

.toc                  { font-weight: bold;
                        font-size: 10pt;
                      }

.toc a                { text-decoration: none; }
.toc a:link           { color: blue; }
.toc a:visited        { color: blue; }

.toc .toc-section a         { color: red; }
.toc .toc-section a:link    { color: red; }
.toc .toc-section a:visited { color: red; }

.toc .toc-titlefoil a         { color: black; }
.toc .toc-titlefoil a:link    { color: black; }
.toc .toc-titlefoil a:visited { color: black; }

.toc .toc-foil a         { color: blue; }
.toc .toc-foil a:link    { color: blue; }
.toc .toc-foil a:visited { color: blue; }

.toc-slidesinfo       { font-family: sans-serif;
                        font-weight: bold;
                        text-align: center;
                      }

.toc-titlefoil        { font-family: sans-serif;
                        font-weight: bold;
                        text-align: center;
                      }

.toc-section          { font-family: sans-serif;
                        margin-left: 0.25in;
                        text-indent: -0.25in;
	                font-weight: bold;
                        color: red;
                      }

.toc-foil             { font-family: sans-serif;
                        font-size: 10pt;
                        margin-left: 0.25in;
                        text-indent: -0.4in;
	                font-weight: bold;
                        color: blue;
                      }

/* ====================================================================== */

.ttoc                 {
                        font-size: 8pt;
			color: white;
                      }

.ttoc a               { text-decoration: none; }
.ttoc a:link          { color: white }
.ttoc a:visited       { color: white }

.ttoc-title           {
                        font-size: 8pt;
                      }

.ttoc-section         {
                        font-size: 8pt;
                      }

.ttoc-foil            {
                        font-size: 8pt;
                      }

/* ====================================================================== */
