div.titlepage { font-family: Arial, sans-serif;
              }

div.titlepage
h1            { font-size: 36pt;
                margin-bottom: 0px;
                padding-bottom: 0px;
              }

div.titlepage
h2            { font-size: 24pt;
                margin-top: 0px;
                padding-top: 0px;
                margin-bottom: 0px;
                padding-bottom: 0px;
              }

div.titlepage
h3            { font-size: 18pt;
                margin-top: 10px;
                padding-top: 0px;
              }

div.titlepage
h4            { font-size: 12pt;
                margin-bottom: 0px;
		padding-bottom: 0px;
              }

div.titlepage
dl            { margin-left: 3em;
                padding-top: 0px;
		margin-top: 0px;
              }

.screen, .programlisting { background-color: silver; padding: 4px; }
.menuchoice, .guimenu, .guisubmenu, .guimenuitem { font-weight: bold; }
.guibutton { background-color: silver; padding: 2px; }
